@import url("https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet");

/* NAVBAR */
.nav-grid {
  flex-direction: row;
  justify-content: space-around;
}

.nav-bar {
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 10;
  opacity: 0.8;
}

.nav-img {
  max-width: 100px;
  margin: 10px;
  display: inline-block;
  float: left;
}

.nav-link {
  text-decoration: none;
  float: right;
  opacity: 0.7;
  transition: 0.5s;
}

.nav-link:hover {
  opacity: 1;
  transition: 0.1s;
}

.nav-title {
  margin: 20px;
  margin-left: 5px;
  text-align: right;
  color: #444444;
}

.nav-title-large {
  margin: 20px;
  margin-left: 5px;
  text-align: right;
  color: #444444;
  text-decoration: none;
  float: left;
  opacity: 0.7;
  transition: 0.5s;
}

/* PAGE CONTENT */
.content {
  padding: 80px 2.5% 5% 2.5%;
  max-width: 980px;
  width: 95%;
  height: 100%;
  color: #444444;
  margin: 0 auto;
}

/* CARDS */
.landing-card {
  background: rgba(255,255,255,0.8);
  border-radius: 30px;
  padding: 50px;
  text-align: center;

  /* Box h & v centering code from w3 */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* BASIC ELEMENTS */
body {
  background: url(./images/sticker_1.jpg) no-repeat center center fixed;
}

h1 {
  font-size: 3.7em;
}

p {
  font-size: 1.3em;
}